body{
    background-color: gray;
}
button{
    background-color: gray;
}
#header{
    display: flex;
    justify-content: space-between;
}
#divMainBlockNavigation{
    display: flex;  
    width: 100%;
}
#divMainBlock{
    display: flex;
    flex-wrap: wrap;
    width: 80%;

}
#divVerticalNavigation{
    border: 2px solid black;
    width: 20%;
    height: 80%;
    margin-right: 10px;
}

#divUsers{
    display: inline-block;
    width: 48%;
    margin-right: 10px;
}

#divLogins{
    display: inline-block;
    width: 48%;
}

#divDialogs{
    margin-top: 10px;
    display: inline-block;
    width: 48%;
    margin-right: 10px;
}

#divMessage{
    margin-top: 10px;
    display: inline-block;
    width: 48%;
}
#divPayments{
    display: inline-block;
    margin-top: 10px;
    width: 48%;    
}

#divActiveBallance{
    background-color: white;
    border-radius: 8px;
    margin-left: 10px;
    margin-top: 10px;
    width: 48%;
}

#aBack{
    background-color: red;
}

#divUser{
    border: 2px solid black;
    width: 40%;    
    margin-right: 10px;    
}

#userPhoto{
    width: 100%;
    padding: 10px;    
}

#divUserMainBlockUser{
    display: flex;
    flex-wrap: wrap;
}

#divUserMainBlock{
    display: flex;
    flex-wrap: wrap;
    width: 58%;
}

#divFavoriteMovies{
    background-color: white;
    width: 48%;
    margin-right: 10px;
    padding: 10px;
}

.h5Shadow{
    text-shadow: 0px 0px 2px black;
}